<?php 
echo $this->doctype();
$sessionObj = new Zend_Session_Namespace('barebones');
$website = Zend_Registry::get('config')->website;
?>
<html>
<head>
<?php
echo $this->headMeta()->appendHttpEquiv('Content-Type','text/html; charset=UTF-8');
echo $this->headTitle()->setSeparator(' | ');
echo $this->headTitle($website->name,'PREPEND');
echo $this->headLink(array('rel' => 'shortcut icon', 'type'=> "image/vnd.microsoft.icon", 'href'=>'/img/favicon.ico'))
    ->appendStylesheet('/css/bootstrap.css')
    ->appendStylesheet('/css/bootstrap-responsive.css')
    ->appendStylesheet('/css/bootstrap-modal.css')
    ->appendStylesheet('/css/bootstrap-popover.css')
    ->appendStylesheet('/css/bootstrap-tooltip.css')
    ->appendStylesheet('/css/custom.css');

?>
</head>
<body>

<div class="container">

    <div class="masthead">
        <h3 class="muted">Project name</h3>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Downloads</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.navbar -->
    </div>

	<?php
    if(isset($sessionObj->_alertMsg)){
        echo "<b>"  . $sessionObj->_alertMsg . "</b>";
        unset($sessionObj->_alertMsg);
    }
    ?>

	<?php
    if (isset($sessionObj->user)) { ?>
        <div class="admin_msg">
            <a href='/admin/' class='btn btn-primary'>Administração da página</a>
            <a href='/auth/logout' class='btn btn-danger'>Logout</a>
        </div>
	<?php } ?>


    <?php echo $this->layout()->content; ?>

    <hr>

    <div class="footer">
        <p>&copy; Company 2013</p>
    </div>

</div> <!-- /container -->

<?php echo $this->headScript()
    ->appendFile('/js/jquery-2.0.1.min.js')
    ->appendFile('/js/modernizr-latest.js')
    ->appendFile('/js/bootstrap.js')
    ->appendFile('/js/bootstrap-modal.js')
    ->appendFile('/js/bootstrap-popover.js')
    ->appendFile('/js/bootstrap-tooltip.js')
    ->appendFile('/js/bootstrap-typehead.js')
    ->appendFile('/js/functions.js');
?>
</body>
</html>
