<?php 
$this->headTitle(ucfirst($this->translate('links_login')));
?>
<div class="container">
<form action='/auth/login' method='post' class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" class="input-block-level" name='email' placeholder="Email address">
    <input type="password" class="input-block-level" name='password' placeholder="Password">
    <label class="checkbox">
        <input type="checkbox" name='remember' value="remember-me"> Remember me
    </label>
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
</form>
</div>